body{
    padding-top: 90px;
}
.navbar-inverse .navbar-nav>li>a {
    color:#BBDFD9;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #4F7B7E;
}

.navbar-inverse {
    background-color: #4F7B7E;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #4F7B7E;
}

.panel-default>.panel-heading {
    background-color: #BBDFD9; 
}

a, a:focus, a:hover {
    color: #4F7B7E;
}
.navbar-brand {
    height: 67px;
}
.navbar li {
    padding-top:16px;    
}
.dropdown-menu>li{
   padding-top:  0px;
}
