    body{
    font-family:Helvetica,Arial; 
    font-size: 14px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.form-group{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.navbar-inverse{
    background:navy;
}

.active{
    color:#000\9;
}
#login-box{
      margin-bottom: auto;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
}

#suivi{
    color: azure;
}

#recherche input{
    background-color: #ffffff;
    border: 0px;
    padding: 15px;
    margin-left: 200px;
    margin-right: 90px;
    width: 90%;
    color: black;
  
}
#recherche button {
    background-color: #269abc;
    border: 0px;
    margin-left: 150px;
    margin-right: 90px;
    color: azure;
}



#responsable{
    margin-right: 25px;
}
#refprof{
    margin-top: 30px;
    color: azure;
}

td{
   
}